html {
	scroll-behavior: smooth;
}

body {
	display: block;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* parent 1 */
#navbar {
	position: fixed;
	min-width: 290px;
	left: 0;
	height: 100%;
	border-right: solid;
	border-color: #4d4e53;
}

header {
	font-size: 1.8em;
	color: #4d4e53;
}

#navbar header {
	text-align: center;
}

/* parent 2 */
#navbar ul {
	display: flex;
	flex-direction: column;
	height: 88%;
	padding: 0;
	overflow: auto;
}

#navbar ul li {
	list-style: none;
	border-top: 1px solid;
	padding: 20px 0 20px 25px;
}

#navbar ul li a {
	display: block;
	text-decoration: none;
	cursor: pointer;
	color: #4d4e53;
}

/* parent 1 */
#main-doc {
	margin-left: 310px;
	padding: 10px;
}

#main-doc header {
	text-align: left;
}

#main-doc article {
	margin: 25px;
	color: #4d4e53;
}

#main-doc ul li {
	margin: 20px 0;
}

#main-doc code {
	display: block;
	text-align: left;
	white-space: pre-line;
	line-height: 2;
	font-family: 'Courier new';
	padding: 15px;
	margin: 10px auto;
	background-color: #eaeaea;
	overflow: auto;
}

@media (max-width: 768px) {
	#navbar {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		position: absolute;
		top: 0;
		max-height: 340px;
		width: 100%;
		border: none;
	}

	#navbar header {
		padding-top: 15px;
	}

	#navbar ul {
		border-bottom: 2px solid;
	}

	#main-doc {
		margin: 350px auto;
	}
}
